// Remembering the media queries
// Using @mixins, @if and @content
@mixin device-width($minWidth, $maxWidth) {
    @if (type-of($minWidth) == number and type-of($maxWidth) == string ) {
        @if($maxWidth == 'max') {
            @media screen
            and (max-width: $minWidth) {
                @content;
            }
        } @else if($maxWidth == 'min') {
            @content;
        }

    } @else {
        @if($minWidth == 0) {
            $minWidth: 0;
        } @else {
            $minWidth: #{$minWidth}px;
        }
        @if($maxWidth == 0) {
            $maxWidth: 0;
        } @else {
            $maxWidth: #{$maxWidth}px;
        }
        @media screen
        and (min-width: $minWidth)
        and (max-width: $maxWidth) {
            @content;
        }
    }
}