# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules
vendor
dist

# Book build output
_book
package-lock.json
composer.lock
db.json
# eBook build output
*.epub
*.mobi
*.pdf
*.ico
*.png
!vscodeextension/photonbs4/icon.png
img
images
*.txt
*.pyc
*.class
__pycache__
mongo
*.map
.next
*.sqlite3
public
*.mp3
*.mp4
.env

# compiled output
/dist
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json