.common-header {
    div {
        display: inline-block;
        &:nth-child(2) {
            float: right;
            margin-right: 12px;
        }
    }
    &::before, &::after {
        clear: both;
        display: block;
        content: "";
    }
}