body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

body > .container-fluid {
    height: calc(100vh - 60px)
}

.box-shadow {
    transition: box-shadow linear 0.25s;
}

.box-shadow:hover {
    transition: box-shadow linear 0.25s;
    box-shadow: 0 1px 15px 0 lightgrey;
}

.cursor-pointer {
    cursor: pointer;
}

.common-header div {
    display: inline-block;
}

.common-header div:first-child {
    margin-top: 10px
}

.common-header div:nth-child(2) {
    float: right;
}

.common-header::before, .common-header::after {
    clear: both;
    display: block;
    content: "";
}

footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
}

footer > div {
    height: 100%;
}