autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
Django==2.2.4
django-auditlog==0.4.5
django-debug-toolbar==2.0
django-extensions==2.2.1
django-faker==0.2
django-filter==2.2.0
django-jsonfield==1.3.1
django-silk==3.0.2
djangorestframework==3.10.2
fake-factory==9999.9.9
gprof2dot==2017.9.19
idna==2.8
Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow==6.1.0
pycodestyle==2.5.0
pydot==1.4.1
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.6.0
pytz==2019.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
