html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    .container-fluid {
        min-height: calc(100vh - 60px);
        .row {
            .col {
                padding: 25px;
                margin: 25px;
            }
        }
        & ~ footer {
            border-top: 1px solid lightgrey;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
    }
}