<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .boxes {
        display: flex;
        justify-content: align-items;
        align-items: center;
        flex-wrap: wrap;
      }
      .box {
        height: 250px;
        width: 250px;
        box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12);
        margin: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fav {
        border: 1px solid firebrick;
      }
    </style>
  </head>
  <body>
    <h2>Vue Widget</h2>
    <div id="app">
      <div v-if="showBooks">
        <p>{{ title }} - {{ author }} - {{ age }}</p>
      </div>
      <div>
        <button v-on:click="age++">Increase Age</button>
        <button v-on:click="age--">Decrease Age</button>
        <button @click="title = 'something else'">Change Book Title</button>
      </div>
      <div style="margin-top: 12px">
        <button @click="changeTitle('Oathbringer')">Change Book Title</button>
        <button @click="hideShowBooks">
          <span v-if="showBooks">Hide Books</span>
          <span v-else>Show Books</span>
        </button>
        <div v-show="showBooks" style="margin-top: 12px">
          Currently Showing Books
        </div>
      </div>
      <div class="boxes">
        <div class="box" @mouseover="handleEvents({$event, type: 'mouseover'})">
          <h4>mouseover (enter)</h4>
        </div>
        <div
          class="box"
          @mouseleave="handleEvents({ $event, type: 'mouseleave'})"
        >
          <h4>mouseleave</h4>
        </div>
      </div>
      <div class="boxes">
        <div class="box" @dblclick="handleEvents({ $event, type: 'dblclick' })">
          <h4>doubleclick</h4>
        </div>
        <div
          class="box"
          @contextmenu="handleEvents({ $event, type: 'contextmenu'})"
        >
          <h4>contextmenu</h4>
        </div>
      </div>
      <div class="boxes">
        <div class="box" @mousemove="handleMouseMove">
          <h4>position - {{ x }} - {{ y }}</h4>
        </div>
      </div>
      <div style="padding: 12px; margin: 12px">
        <input v-model="search" />
        <p>You typed: {{ search }}</p>
      </div>
      <div>
        <ul style="padding: 0; margin: 0">
          <li
            v-for="book in filteredBooks"
            @click="makeItFav(book)"
            style="
              display: flex;
              justify-content: space-between;
              text-decoration: none;
              margin: 12px;
              padding: 12px;
              list-style: none;
              border-radius: 3px;
            "
            :class="{
              fav: book.isFav
            }"
          >
            <img :src="book.img" :alt="book.img" height="100" width="100" />
            <h4>{{ book.title }}</h4>
            <p>{{ book.author }}</p>
          </li>
        </ul>
      </div>
      <div style="padding: 12px; margin: 12px; border: 1px solid whitesmoke">
        <div>
          <a v-bind:href="url">Best Website Ever (v-bind:href)</a>
        </div>
        <div>
          <a :href="url">Best Website Ever (:href)</a>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="app.js"></script>
  </body>
</html>
