:root {
    --lightgrey: lightgrey,
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    border: 1px solid var(--lightgrey);
    background-color: rgba(0, 0, 0, 0.1);
}

.container-fluid {
    padding: unset !important;
}

footer {
    border-top: 1px solid lightgrey;
    min-height: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-score {
    position: fixed;
    top: 25px;
    left: 25px;
}