body {
    background-color: rgba(20, 20, 20, 0.9);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    background-color: rgba(50, 20, 20, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 25px;
    margin-bottom: 25px;
}

form input {
    margin-bottom: 10px;
}

input {
    background-color: rgba(20, 20, 20, 0.9);
    border: none;
    padding: 25px;
    border-radius: 10px;
    outline: none;
    color: white;
    border: 1px solid rgba(20, 20, 50, 0.9);
}

input:focus {
    border: 1px solid white;
}

input:hover {
    border: 1px solid rgba(100, 100, 100, 0.9);
}