<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        Smoothie Image
    </div>
    <div class="headings">
        <h2>
            Smoothie Recipes
        </h2>
        <h3>
            By Someone You Used to Know
        </h3>
        <a href="/smoothies">View Recipes</a>
    </div>
</header>

<%- include('partials/footer'); -%>