doctype html
html
    head
        title TODO List Page
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js")
        script(src="/js/main.js")
    body
        h1 Sequelize App
        hr
        block body