:root {
  --whitesmoke: whitesmoke;
  --lightgrey: lightgrey;
  --black: black;
  --white: white;
  --boxShadow: rgba(0, 0, 0, 0.12);
  --extraSmall: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
  --extraLarge: 3rem;
  --bold: bold;
  --bolder: bolder;
}

body,
html {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
