.card {
  box-shadow: 0 1px 15px 0 var(--boxshadow);
  padding: 16px;
  margin: 8px 0;
  opacity: 0.6;
  transition: all linear 0.25s;
  cursor: pointer;
  position: relative;
  border-radius: var(--borderradius);
}

.card:hover {
  opacity: 1;
  transition: all linear 0.25s;
}

.card:hover .indicator {
  background-color: var(--firebrick);
  transition: all linear 0.25s;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: transparent;
  border-radius: var(--borderradius);
  transition: all linear 0.25s;
}
