:root {
    --box-shadow-color: #969696;
    --lightgrey: lightgrey;
    --darkgrey: #4c4c4c;
    --lightgreen: #e3eae2;
    --lightred: #c29f9f;
    --white: #ffffff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: none;
}

.block {
    display: block !important;
}

.form-header {
    font-weight: 600;
    padding-top: 25px;
}

form {
    box-shadow: 0 1 15px 0 var(--box-shadow-color);
}

form .form-group {
    padding: 15px;
    margin-bottom: 0;
}

form .form-group label {
    margin-bottom: 0;
}

textarea {
    resize: none;
    height: 100px;
}

.toast {
    position: fixed !important;
    top: 5px !important;
    padding: 5px;
    background-color: var(--white);
    box-shadow: 0 1px 15px var(--lightgrey) !important;
}

.toast.green {
    background-color: var(--lightgreen);
}

.toast.red {
    background-color: var(--lightred);
}

.toast-body small {
    font-size: 12px;
    float: left;
}

.toast-body::after {
    clear: both;
}

.language-select {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .col {
        flex-basis: unset;
    }
    .last-name {
        display: hidden !important;
    }
    .main-col {
        padding: 0 !important;
        margin: 0 !important;
    }
}
