:root {
    --lightgrey: lightgrey;
    --backgroundColor: white;
    --primary: rgba(0, 0, 0, 0.6);
    --boxShadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    color: var(--primary);
}

body > .container-fluid {
    min-height: calc(100vh - 60px);
}

.post {
    box-shadow: var(--boxShadow);
    padding: 12px;
}

.post:first-child {
    margin-top: 12px;
}

body > footer {
    border-top: 1px solid var(--lightgrey);
    height: 60px;
    line-height: 60px;
    text-align: center;
}