body, html {
    margin: 0;
    padding: 0;
}

body {
    .container-fluid {
        min-height: calc(100vh - 60px);
        & ~ footer {
            border-top: 1px solid lightgrey;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
        .row {
            .col {
                margin: 50px 250px;
                padding: 50px;
                .fluid-wrapper {
                    background: #000;
                    height: 100px;
                    filter: contrast(20);
                    .circle-one, .circle-two {
                        position: absolute;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        top: 25%;
                        left: 50%;
                        display: block;
                        background-color: white;
                        filter: blur(15px);
                    }
                    .circle-one {
                        animation: circle-one-animation 2s ease infinite;
                    }
                    .circle-two {
                        animation: circle-two-animation 2s ease infinite;
                    }
                }
                // Apply a filter from SVG to DOM elements
                .square {
                    width: 50px;
                    height: 50px;
                    background-color: firebrick;
                    filter: url('#blur');
                }
            }
        }
    }
}

@keyframes circle-one-animation {
    0% {
        left: 50%;
    } 50% {
        left: 47%;
    } 100% {
        left: 50%;
    }
}

@keyframes circle-two-animation {
    0% {
        left: 50%;
    } 50% {
        left: 53%;
    } 100% {
        left: 50%;
    }
}