// Simple Setup
body, html {
    padding: 0;
    height: 0;
}

body {
    height: 100%;
    .container-fluid {
        min-height: calc(100vh - 60px);
        .common-header {
            div {
                display: inline-block;
                margin-top: 10px;
                &:first-child {
                }
                &:last-child {
                    float: right;
                }
            }
            &::before, &::after {
                content: "";
                clear: both;
                display: block;
            }
        }
        .progress-bar-container {
            margin-top: 2rem;
            .row {
                &.equal {
                    .col-sm-3 {
                        .card {
                            height: 100%;
                            width: 260px !important;
                        }
                    }
                }
            }
        }
    }
    footer {
        height: 60px;
        line-height: 60px;
        div {
            text-align: center;
        }
    }
}
.box-shadow {
    transition: all linear 0.25s;
}

.box-shadow:hover {
    transition: all linear 0.25s;
    box-shadow: 0 1px 15px 0 lightgrey;
}

// Progress Bar
.custom-progress-bar {
    position: relative;
    width: 100%;
    height: 2px;
    border: 1px solid lightgrey;
    .color {
        position: absolute;
        top: -1px;
        left: -1px;
        border: 1px solid rebeccapurple;
        width: 0;
        transition: all ease 0.33s;
    }
}

.progress-circle-section {
    position: relative;
    .progress-circle {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid lightgrey;
    }
    .progress-top-circle {
        position: absolute;
        top: 0;
        left: 45.5%;
        right: 0;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        transition: all linear 0.25s;
    }
    .progress-value {
        position: absolute;
        font-size: 18px;
        left: 1%;
        right: 0;
        top: 5%;
        vertical-align: middle;
        line-height: 90px;
    }
}